<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About UV Protection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class = "bi me-2" xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-brightness-alt-high-fill" viewBox="0 0 16 16">
                <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"/>
            </svg>
            <span class="fs-4"> UV Protection</span>
          </a>
          
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="./about" class="nav-link active">About</a></li>
          </ul>
         
        </header>
    </div>

    <div class="container">
      <h3 class = "display-6 fw-bold text-body-emphasis lh-1 mb-3">About UV Protection</h3><br>
      <div class="row">
        <div class="col">
          <h4>Facts</h4>
          <ul>
            <li class = "lead">Sun damage is caused by Ultraviolet radiation, not temperature! UV rays can penetrate through clouds and reflect.</li>
            <li class = "lead">Regardless of skin type, exposure can cause permanent damage apart from temporary tan/burning</li>
            <li class = "lead">Prolonged sun exposure does not cause vitamin D levels to continue to increase further. Few minutes of sun exposure at UV>=3 is enough.</li>
            <li class = "lead">Untinted glass does not block UV radiation, meaning you can still get burnt!</li>
            <li class = "lead">It is recommended to apply a thorough coverage of a sunscreen with an SPF of at least 30 which is not found in makeup products</li>
          </ul>
        </div>
        <div class="col">
          <h4>Myths</h4>
          <ul>
            <li class = "lead">Sun damage is not possible on windy, cloudy, or cool days</li>
            <li class = "lead">People with deeper skin tones are not at risk of skin cancer</li>
            <li class = "lead">Plenty of sun exposure is needed to avoid vitamin D deficiency</li>
            <li class = "lead">You can't get burnt in the car through a window</li>
            <li class = "lead">Sunscreen is not necessary when using cosmetics with SPF</li>
          </ul>
  
        </div>
      </div>
      <br>
      <h6>Information found on https://www.cancer.org.au</h6>
    </div>
</body>
</html>